extends ./layout.pug

block content
    .d-flex.flex-column.flex-column-fluid
        .content.fs-6.d-flex.flex-column-fluid
            .container
                .row.g-0.g-xl-5.xxl-8
                    .col-xl-4
                        .card.card-custom.card-stretch.mb-2.mb-xxl-8
                            .card-body
                                .d-flex.flex-column.h-100
                                    h2.text-dark.text-center.fw-bolder.lh-lg
                                        | Tra cứu điểm
                                    form(action="/viewresult") 
                                        input.form-control(name="id" type="number" placeholder="Số báo danh" min=303000 max=313100)
                                        .text-center.py-7
                                            button.btn.btn-primary.fw-bolder.fs-6.px-7.py-3(type="submit") Tìm kiếm kết quả
                    .col-xl-8
                        .card.card-custom.card-stretch.mb-2.mb-xxl-8
                            .card-body.text-center
                                .symbol.symbol-65px.mb-2
                                    .symbol-label.bg-light-primary
                                        i.fab.fa-quora.text-primary.fs-2x
                                h2.text-primary
                                    | Kỳ thi thử Vật Lý THPT Quốc Gia lần 1 năm 2021
                                .text-muted.fw-bold.fs-6.mb-2
                                    | Ngày 30-31/03/2021
                    .col-xl-12
                        .card.card-custom.card-stretch.mb-2.mb-xxl-8
                            .card-body.text-center
                                .symbol.symbol-65px.mb-2
                                    .symbol-label.bg-light-warning
                                        i.fad.fa-trophy-alt.text-warning.fs-2x
                                h2.text-warning.fw-bold.mb-2
                                    | Bảng vinh dang top 10 học sinh
                                .table-responsive
                                    table.table.table-borderless.align-middle
                                        thead
                                            tr
                                                th.p-0
                                                th.p-0
                                                th.p-0.min-w-100px
                                                th.p-0.min-w-100px
                                                th.p-0.min-50px
                                        tbody
                                            each student, i in topStudents
                                                tr
                                                    td= i+1
                                                    td.px-0.py-3
                                                        .symbol.symbol-30px.mt-1.me-5
                                                            span.symbol-label.bg-light-primary
                                                                i.fad.fa-user-circle.text-primary.fs-2x
                                                    td.px-0
                                                        a.text-gray-800.fw-bolder.text-hover-primary.fs-6(href="/viewresult?id="+student.student_id)= student.name
                                                    td.text-end
                                                        span.text-muted.fw-bold.d-block.mt-1= student.school
                                                    td.text-end
                                                        span.fw-bolder.text-primary.fs-2= student.mark


